body {
	background: #fff!important;
	font-weight: bold;
}
input {
	outline: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
#menu-nav-wrap .nav-list li a:hover,
a:focus,
a:active {
    color: #000000;
    outline: 0;
    text-decoration: none;
}
header {
    width: 5%;
    height: 72px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
    background: transparent;
}
button {
	outline: none;
	/*margin: 0;*/
	padding: 3px;
}
.bar {
	width: 100%;
	height: 30px;
	background: #c2c3c3;
	position: relative;
    z-index: 2001;
}
/*.menu-toggle {
    width: 42px;
    height: 42px;
    display: block;
    outline: 0;
    background: #001835;
    position: absolute;
    top: 20px;
    left: 20px;
    -moz-transition: transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
    -webkit-transition: transform 0.4s ease-in-out;
    -ms-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}*/
/*.menu-toggle span {
    display: block;
    background-color: #FFFFFF;
    width: 24px;
    height: 3px;
    margin-top: -1.5px;
    position: absolute;
    left: 9px;
    top: 50%;
    bottom: auto;
    right: auto;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}
.menu-toggle span::before {
    top: -8px;
}
.menu-toggle span::after {
    bottom: -8px;
}
.menu-toggle span::before, .menu-toggle span::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    right: 0;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.menu-toggle.is-clicked span::before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    
}*/
/*.menu-toggle.is-clicked span::before, .menu-toggle.is-clicked span::after {*/
/*    background-color: white;
}*/
.menu-is-open #menu-nav-wrap {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-overflow-scrolling: touch;
}
.menu-is-open .menu-toggle {
    -webkit-transform: translateX(103px);
    -ms-transform: translateX(103px);
    transform: translateX(103px);
    /*display: inline-block;*/
}
.menu-toggle.is-clicked {
	display: none;
}
/*.menu-toggle.is-clicked span {
    background-color: rgba(255, 255, 255, 0);
}
.menu-toggle.is-clicked span::after {
    bottom: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}*/
#menu-nav-wrap {
    background: #e7e5e1;
    color: rgba(255, 255, 255, 0.25);
    font-family: "roboto-regular", sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 2.8rem 1.2rem;
    height: 100%;
    /*width: 103px;*/
    width: 6%;
    position: fixed;
    left: 0;
    top: 0;
    visibility: hidden;
    z-index: 800;
    overflow-y: auto;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#menu-nav-wrap h3 {
    color: #4f4f4f;
    margin-left: -5px;
    font-family: "roboto-bold", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}
.name {
	font-size: 24px;
}
#menu-nav-wrap .nav-list {
    margin: 1.8rem 0 1.5rem 0;
    padding: 0 0 1.5rem 0;
    list-style: none;
    line-height: 3.6rem;
}
#menu-nav-wrap .nav-list li {
    padding-right: 0;
}
.file-wrap {
	 position: relative;
}
.right-td {
	text-align: right!important;
}
.right-td .btn-group {
	margin-right: 17%;
}
.submit {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
/*.submit,*/
.file {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.hide {
	display: none;
}
/*ul li {
    padding-left: .4rem;
}*/
#menu-nav-wrap .nav-list li a {
    font-family: "roboto-bold", sans-serif;
    color: #ADADAD;
    margin-top: 10px;
    display: inline-block;
}
#menu-nav-wrap a, #menu-nav-wrap a:visited {
    color: rgba(0, 0, 0, 0.5);
}
.tags{
	background: #e6e6e1;
    list-style-type: none;
    list-style-position: inside;
    width: 93%;
    margin: 0 0 0 7%;
    padding: 0;
    overflow: hidden;
    z-index: 1000;
    position: relative;
}
#div1, #div2, #div3 {
	z-index: 1000;
    position: relative;
}
.tags img {
	height: 30px;
    vertical-align: middle;
}
#tag1 {
	margin-left: 90px;
}
.tags li{
	float: left;
    border: 1px solid #e6e6e1;
    margin: 0px 3px;
    padding: 10px 30px;
    background: #e6e6e1;
    cursor: pointer;
}
.clearfix{
	clear: both;
}
#container{
	width: 93%;
    margin-left: 7%;
	height: 400px;
	/*background: #aaaa55;*/
}
#div2, #div3 {
	padding: 10px;
}
.tab-active {
	background: #b5b5b1!important;
}
.search-btn span {
	display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 20px;
    cursor: pointer;
    background: url('//gitlab.alibaba-inc.com/assets/select2-e201d20d31c478369c593a5c7696270f.png') no-repeat -40px -23px;
}
.search-btn {
	margin-top: 10px!important;
    background: #babab6!important;
    position: absolute;
    right: 30px;
    padding: 5px!important;
    /* float: right; */
    border-radius: 5px;
}
.search-ipt {
	border: none;
    background: #babab6;
    outline: none;
}
.team-table {
	width: 90%;
    margin: 25px auto 0 auto;
}
table td , table th {
	padding: 10px;
	text-align: center;
}
.task-table tbody td ,
.lab-table tbody td {
	border: 1px solid #9f9f9e;
}
.grey {
	color: #b2b4b3;
}
.team-btn {
	border: 2px solid #5680a9;
    border-radius: 5px;
    background: #fff;
    outline: none;
    margin-bottom: 10px;
}
textarea {
	width: 66%;
}
/*table td {
	text-align: right;
}*/

.edit-table {
	width: 100%;
}
.edit-table th {
	padding: 10px;
    background: #f2f2f0;
}
.edit-table td, .edit-table th {
	text-align: center;
}
.edit-table  img ,
.lab-table img {
	width: 30px;
}
.btn-group {
	border: 2px solid #ccc;
    /*overflow: hidden;*/
}
.caret {
	margin-right: 3px;
}
.inline-item .connect-input {
	width: 85%;
    float: left;
}
.cursor {
    cursor: pointer;
}
.caret-wrap {
    width: 15%;
    height: 100%;
    float: left;
}
.inline-item {
	width: 30%;
}
.btn-group input {
	border: none;
	border-right: 2px solid #ccc;
	outline: none;
}
.task-table, 
.lab-table {
	width: 100%;
}
.task-table img {
	width: 25px;
}
.task-table td ,
.task-table th ,
.lab-table th,
.lab-table td {
	background: #c3c3c2;
}
h4 {
	padding-bottom: 8px;
	border-bottom: 2px solid #e0e0e0;
}
.search-tab {
	text-align: right;
    padding: 20px 0;
    background: #aeaead;
}
/*.search-tab .btn-group {
	margin-right: 10px;
}*/
.status-bar {
	width: 80px;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
   border: 1px solid #646363;
}
.status-inner {
	width: 28%;
    height: 18px;
    background: #f00;
}
.right {
	text-align: right;
}
.add-member,
.add-task,
.add-lab {
	width: 80px;
    border: none;
    background: #fff;
    border: 2px solid #2a2f76;
    border-radius: 5px;
    color: #2a2f76;
    padding: 3px 0;
    font-size: 18px;

}
.modal-header {
	margin-bottom: 20px;
	overflow: hidden;
}
.show-search-left, .show-search-right {
	border: 1px solid #ccc;
    float: left;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    overflow-y: auto;
}
.show-search-left ul {
	padding-left: 5px;
	text-align: left;
}
.arrow-wrap {
	float: left;
    padding: 10px;
}
.arrow-wrap span {
	display: block;
    padding: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 11px;
    cursor: pointer;
}
.modal-body table {
	width: 100%;
}
/*.modal-ipt {
	width: 300px;
    margin-left: 80px;
}*/
.modal-ipt {
	width: 120px;
}
#labModal table td,
#labEdit table td {
	text-align: left;
}
.show-search-left li:hover {
	background: #f3f2f2;
}
.active-li {
	background: #f3f2f2;
}
.dropdown-menu {
	max-height: 350px;
    overflow: scroll;
}
.dropdown-menu li:hover {
	background: #f3f2f2;
	cursor: pointer;
}
.hiden {
	display: none!important;
}

