@charset "utf-8";
/* CSS Document */
.options
{
	position: absolute;
	width: 72px;
	float: left;
	height: auto;
	color: EFEEEE;
}
.list
{
	position: absolute;
	left: 81px;
	float: left;
	width: 360px;
	top: 7px;
	color: EFEEEE;
}

.info
{
	position:absolute;
	width:864px;
	float:left;
	color: EFEEEE;
}
#icon_of_team
{
	width: 72px;
	position: absolute;
	height: 72px;
	float: left;
	color: EFEEEE;
}
#name_of_team
{
	position: absolute;
	height: 72px;
	left:72px;
	float: left;
	width: 268px;
	color: EFEEEE;
}
#selector
{
	position: relative;
	height: 544.178px;
	float: right;
	width: 19.178px;
	color: EFEEEE;
}
