<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>

<link href="../static/teaminfo/css/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body.google {
	background: #EFEEEE;
}

body.facebook {
	background:  #EFEEEE;
}

body.twitter {
	background:  #EFEEEE;
}

body.dribbble {
	background:  #EFEEEE;
}
section
{
	height:400px;
}
</style>

<script type="text/javascript" src="../static/teaminfo/js/html5.js"></script>
<script type="text/javascript" src="../static/teaminfo/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="../static/teaminfo/js/jquery.easing.1.3.min.js"></script>

</head>
<body>
<div class="page-bulls">
	<nav>
		<a href="#google"><span>Google</span></a>
		<a href="#facebook"><span>Facebook</span></a>
		<a href="#twitter"><span>Twitter</span></a>
		<a href="#dribbble"><span>Dribbble</span></a>
	</nav>
</div>

<div class="wrapper container">

	<div data-anchor="home" style="padding-top: 100px;"></div>

	<div class="social-logo">
		<i class="fa fa-google-plus"></i>
		<i class="fa fa-facebook"></i>
		<i class="fa fa-twitter"></i>
		<i class="fa fa-dribbble"></i>
	</div>

	<section class="page-section" data-anchor="google">
		<h1>Google</h1>
	
	</section>

	<section class="page-section" data-anchor="facebook">
		<h1>Facebook</h1>
		<p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
		<p>pulvinar, hendrerit id, lorem.</p>
	</section>

	<section class="page-section" data-anchor="twitter">
		<h1>Twitter</h1>
		<p>us nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien.</p>
		<p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy iscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nlor lectus quis orci. Phasellus consectetuer vestibulum elit.</p>
		<p>Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc.</p>
	</section>

	<section class="page-section" data-anchor="dribbble">
		<h1>Dribbble</h1>
		<p>Aea.</p>
		<p>Nam pretium turpis et arcu. Duis arcu tortor, suscipit egete arcu. Phasellus accumsan cursus velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac</p>
	</section>

	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>

</div>

<script type="text/javascript" src="../static/teaminfo/js/ijhg.js"></script>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">

</div>
</body>
</html>
